* {
    padding: 0;
    margin: 0;
  }

  html {
    background-image: url('cthulhu-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

  body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
  }

#navdiv{
    display: flex;
}

#bannerimg {
    width: 100%;
    height: auto;
}

  
  body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
  }
  
  nav {
    display: flex;
    justify-content:space-around; 
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none; 
  }
  
  nav li {
    padding-left: 1rem; 
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  .main-nav a {
    text-decoration: none;
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .main-nav {
      flex-direction: column;
    }
    .main-nav ul {
      flex-direction: column;
      padding-top: 0.5rem;
    }
    .main-nav li {
      padding: 0.5rem 0;
    }
  }
  
  .textbox{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border: solid red 3px;
    background-color: rgba(37, 65, 38, 0.539);

  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  #footer-contents {
    display: flex;
    justify-content: space-around;
  }